$accent-color: rgb(243,46,91);

html {
  box-sizing: border-box;
}

body, input {
  font: caption;
}

input {
  padding: 0.5em;
  border: 1px solid $accent-color;
  background-color: lighten($accent-color, 30);
}

button, .button, input[type="submit"] {
  background-color: $accent-color;
  border: 1px solid darken($accent-color, 10);
  color: white;
  padding: 0.5em;
  &:hover {
    background-color: lighten($accent-color, 10);
  }
  &:active {
    background-color: lighten($accent-color, 5);
  }
  &.full-width {
    width: 100%;
    margin: 1em 0;
  }
  &.secondary {
    background-color: lighten($accent-color, 40);
    border-color: $accent-color;
    color: $accent-color;
  }
  &.delete {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0 0.5em;
  }
}

.NewItem {
  display: flex;
}

.NewItem-input {
  width: 100%;
}
